@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

.header {
  margin: 2rem;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
      width: 90px;
    }
    &__items {
      display: flex;
      gap: 1.5rem;
      a {
        text-decoration: none;
        font-family: t.$ff-Raleway;
        color: v.$pc-dark-blue;
        font-size: 15px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;

    .header__img {
      max-width: 100%;
      margin: 6rem 0rem 3rem;
    }
    .header__text-container {
      text-align: center;
      .header__title {
        font-family: t.$ff-Raleway;
        font-size: 1.75rem;
        margin-bottom: 2rem;
      }
      .header__body {
        font-family: t.$ff-Open_Sans;
        font-size: 1rem;
        margin-bottom: 2rem;
      }
      .header__form {
        display: flex;
        flex-direction: column;
        position: relative;
        label {
          opacity: 0.8;
          font-family: t.$ff-Raleway;
          letter-spacing: 1px;
          font-weight: t.$fw-normal;
          font-size: 13px;
          position: absolute;
          top: 17px;
          left: 28px;
        }
        input[type="email"] {
          height: 45px;
          border-radius: 4px;
          font-size: 15px;
          font-family: t.$ff-Raleway;
          font-weight: t.$fw-bold;
          padding-left: 1.5rem;
          border: 1.5px black solid;
          background-color: #fff;
          &:focus {
            outline: 0;
            & + label {
              display: none;
            }
          }

          &:valid {
            background-color: #fff;
            & + label {
              opacity: 0;
            }
          }
          &:invalid:not(:focus):not(:placeholder-shown) {
            border-color: red;
            & + label {
              opacity: 0;
            }
          }
          &:invalid:focus:not(:placeholder-shown) {
            margin-bottom: 5px;
            & ~ .requirements {
              max-height: 100px;
            }
          }
        }
        .requirements {
          color: #999;
          max-height: 0;
          transition: 0.15;
          overflow: hidden;
          color: red;
          font-family: t.$ff-Open_Sans;
          font-size: 14px;
          text-align: left;
        }
        &--desktop {
          display: none;
        }
        &-button {
          box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
          height: 45px;
          border-radius: 4px;
          background-color: v.$acc-bright-blue;
          color: v.$light-grayish-blue;
          font-family: t.$ff-Raleway;
          font-weight: t.$fw-bold;
          font-size: 1rem;
          border: none;
          margin-top: 1rem;
          &:hover,
          &:focus {
            background-color: hsl(219, 96%, 70%);
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: map-get(v.$viewport_size, m)) {
  .header__content {
    .header__text-container {
      .header__form {
        &-button {
          margin-top: 1rem;
          width: 35%;
        }
      }
    }
  }
}
@media only screen and (min-width: map-get(v.$viewport_size, l)) {
  .header {
    margin: 3rem 4rem;
    .navbar {
      &__logo {
        width: 120px;
      }
    }
    &__content {
      flex-direction: row-reverse;
      align-items: center;
      gap: 2rem;
      .header__img {
        max-width: 50%;
      }
      .header__text-container {
        text-align: left;
        .header__title {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
@media only screen and (min-width: map-get(v.$viewport_size, xl)) {
  .header__content {
    margin-bottom: 1rem;

    .header__text-container {
      width: 45%;
      .header__title {
        font-size: 2.5rem;
      }
      .header__form {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: inline;
        }
        input {
          width: 55%;
          margin-right: 0.75rem;
        }
        label {
          top: 4px;
        }
        &-button {
          margin-top: 0rem;
          width: 35%;
        }
      }
    }
  }
}
