@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

.middle {
  &__background {
    &--mobile {
      width: 100%;
      margin-top: 3rem;
      transform: translateY(1rem);
    }
    &--desktop {
      display: none;
    }
  }
  &__container {
    background-color: v.$light-grayish-blue;
    display: flex;
    flex-direction: column;
    .middle__img {
      max-width: 100%;
      margin: 3rem 1rem;
    }
    .middle__text-container {
      margin-inline: 1.5rem;
      padding-bottom: 5rem;
      .middle__title {
        text-align: center;
        font-family: t.$ff-Raleway;
        font-weight: t.$fw-bold;
        font-size: 1.25rem;
        margin-bottom: 2rem;
      }
      .middle__content {
        font-family: t.$ff-Open_Sans;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 2rem;
      }
      .middle__link-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-decoration: none;
        margin-bottom: 3rem;
        .underlined {
          display: inline-block;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 8.75rem;
            border-bottom: 1.75px solid v.$acc-moderate-cyan;
            margin-top: 1.5px;
          }
        }

        a.middle__link {
          color: v.$acc-moderate-cyan;
          font-family: t.$ff-Open_Sans;
          font-size: 0.8rem;
          text-decoration: none;

          ::after {
            content: url("./images/icon-arrow.svg");
            margin-left: 0.5rem;
            vertical-align: middle;
          }
          &:hover {
            color: hsla(170, 82%, 45%, 0.658);
          }
          &:hover::after {
            border-bottom: 1.75px solid hsla(170, 82%, 45%, 0.659);
          }
          &:hover p::after {
            content: url("../images/icon-arrow-copy.svg");
          }
        }
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, l)) {
  .middle {
    &__background {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
        width: 100%;
        margin-top: 3rem;
        transform: translateY(2rem);
      }
    }

    .middle__container {
      flex-direction: row-reverse;
      padding-top: 6rem;
      padding-bottom: 5rem;
      .middle__img {
        max-width: 40%;
        align-self: flex-start;
      }
      .middle__text-container {
        text-align: left;
        margin-inline: 4rem;
        padding-bottom: 0rem;
        .middle__title {
          text-align: left;
          font-size: 1.75rem;
        }
        .middle__content {
          margin-bottom: 1rem;
        }
        .middle__link-container {
          justify-content: left;
          margin-bottom: 3rem;
        }
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, xl)) {
  .middle {
    .middle__container {
      .middle__text-container {
        .middle__title {
          font-size: 2rem;
        }
      }
    }
  }
}
@media only screen and (min-width: map-get(v.$viewport_size, xxl)) {
  .middle {
    .middle__container {
      .middle__text-container {
        .middle__title {
          font-size: 2.5rem;
        }
        .middle__content {
          width: 75%;
        }
      }
    }
  }
}
