@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

// ::placeholder {
//   font-family: t.$ff-Raleway;
//   letter-spacing: 1px;
//   font-weight: t.$fw-normal;
//   font-size: 14px;
// }
